*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
.App{
  background-color: #000;
}
.btn-cont{
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.leave-meet-btn{
  height: 3rem;
  width: 10rem;
  margin:1rem;
  cursor: pointer;
  border-radius: 8px;
  text-transform: uppercase;
  letter-spacing: 1px;
  background-color: #ff0000;
  color: #fff;
  border: none;
}
.timer{
  color: #fff;
  margin-left: 1rem;
}